// border radius

$border-radius: $xs !default;

.br    { border-radius: $border-radius }
.br-t  { border-top-left-radius: $border-radius; border-top-right-radius: $border-radius }
.br-r  { border-bottom-right-radius: $border-radius; border-top-right-radius: $border-radius }
.br-b  { border-bottom-left-radius: $border-radius; border-bottom-right-radius: $border-radius }
.br-l  { border-bottom-left-radius: $border-radius; border-top-left-radius: $border-radius }

.br-0  { border-radius: 0 }
.br-50 { border-radius: 50% }
