// borders

$border-width: 1px !default;
$border-style: solid !default;

.b-a { border-style: $border-style; border-width: $border-width }
.b-t { border-top-style: $border-style; border-top-width: $border-width }
.b-r { border-right-style: $border-style; border-right-width: $border-width }
.b-b { border-bottom-style: $border-style; border-bottom-width: $border-width }
.b-l { border-left-style: $border-style; border-left-width: $border-width }

.b-0 { border: 0 }
.b-2 { border-width: 2px }

// border colors

@each $name, $value in $colors {
  .b--#{$name} { border-color: $value }
}

// border styles

.b--dotted { border-style: dotted }
.b--dashed { border-style: dashed }
.b--solid  { border-style: solid }
