// displays

$displays: (
  b:  block,
  i:  inline,
  ib: inline-block,
  t:  table,
  tc: table-cell
) !default;

@each $name, $display in $displays {
  .d-#{$name} { display: $display }
}

// responsive displays

@each $breakpoint, $value in $breakpoints {
  @media (min-width: $value) {
    @each $name, $display in $displays {
      .d-#{$name}-#{$breakpoint} { display: $value }
    }
  }
}
